<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/arroz.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
            <h5 class="card-title">Arroz De Casa</h5>
            <p class="card-text">venha só dar uma olhada nesse arroz soltinho que garantirá seu bom gosto!</p>
            <a href="#" class="btn btn-primary  container-fluid" >compre agora</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/oleo.webp" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
            <h5 class="card-title">Óleo De Soja Soya 900 ml</h5>
            <p class="card-text">A Soya está presente na família brasileira há mais de 30 anos, e sua linha de produtos abrange óleos, maioneses, temperos e caldos.</p>
            <a href="#" class="btn btn-primary  container-fluid" >compre agora</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/Frango-assado-na-panela-de-pressão-380x389.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
            <h5 class="card-title">Frango Assado De Casa</h5>
            <p class="card-text">Frango Assado: receita tradicional e deliciosa, com toda suculência, sabor e textura de um frango bem assado! Nossas farofas especiais são perfeitas para esta receita!</p>
            <a href="#" class="btn btn-primary  container-fluid" >compre agora</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/Tempero-para-Carnes-Toque-de-Alho-Sazon-Pacote-60g-12-Unidades-.png" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
            <h5 class="card-title">Sazon</h5>
            <p class="card-text">Temperos SAZÓN Tempero SAZÓN é a combinação ideal de temperos que realça e complementa o sabor e a cor dos seus pratos. </p>
            <a href="#" class="btn btn-primary  container-fluid" >compre agora</a>
        </div>
    </div>

</div>     